 <div id="sidebar">
    


      <ul class="nav navbar-nav side-bar">
        <li class="side-bar tmargin"><a href="#">Dashboard</a></li>
        <li class="side-bar"><a >Allergies</a></li>
        <li class="side-bar"><a>APCI</a></li>
        <li class="side-bar"><a >EX Radio</a></li>
        <li class="side-bar"><a>Dispensaires</a></li>
        <li class="side-bar"><a >Docteurs</a></li>
        <li class="side-bar"><a routerLink="/list-user">Utilisateurs</a> </li>
        
      </ul>
    </div>
 

      
      <tbody>
