 <div id="sidebar">
    


      <ul class="nav navbar-nav side-bar">
        <li class="side-bar tmargin"><a href="#"><span class="glyphicon glyphicon-list">&nbsp;</span>Dashboard</a></li>
        <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-flag">&nbsp;</span>Allergies</a></li>
        <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-star">&nbsp;</span>APCI</a></li>
        <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-star">&nbsp;</span>EX Radio</a></li>
        <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-certificate">&nbsp;</span>Dispensaires</a></li>
        <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-signal">&nbsp;</span>Docteurs</a></li>
        <button (click)="navigateToUserComponent()">Users</button>



      </ul>
    </div>
 
  <div class="col-md-9 animated bounce">
    <h1 class="page-header">Dashboard</h1>
    <ul class="breadcrumb">
      <li><span class="glyphicon glyphicon-home">&nbsp;</span>Home</li>
      <li><a href="#">Dashboard</a></li>
    </ul>
    <table class="table table-hover">
      <thead>
        <th>&nbsp;</th>
        <th class="text-center">#</th>
        <th>Title</th>
        <th class="text-center">Author</th>
        <th>Status</th>
        
      </thead>
      
      <tbody>
